
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: #D00000;
}


.site-title {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

#hobby-list {
    list-style: square;
}


#hobby-list :nth-child(odd){
    background-color: #E8E673;
}

nav {
    background-color: #2E5EAA;
}

nav ul {
    list-style: none;
    
}

nav a {
    border: 1px solid;
    display: block;
    text-decoration: none;
    color: azure;
    font-family: serif;
    font-size: 22px;
    
}

nav a:hover {
    background-color: #E8E673
}









