/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
li {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* starts here */

/* adds the font to the entire page, the button design, adjusts heading text adds background colour to all the parts of the page  */
body {
    font-family: 'Open Sans', sans-serif;

}

.tan {
    background-color: #ffe6ac;
}

h2 {
    font-weight: bold;
    padding: 1rem;
}

.button-design {
    padding: 30px 70px;
    border: none;
    align-self: start;
    font-size: 1.01rem;
    margin: 1.1rem 1.1rem 0 0;
}

.button-design i {
    font-size: 1.5rem;
}

.btn-yellow {
    color: #222;
    background-color: #c78c06;
}

.btn-black {
    color: white;
    background-color: #222;
}


/* nav */
/* every first letter of the nav is capitalize  and button is customized*/
nav li::first-letter {
    text-transform: capitalize;
}

.search-container button {
    color: #c78c06;
    border: solid #c78c06;
    padding: 5px;
    background-color: #222;
}

.homenav {
    background-color: #c78c06;
}

nav {
    background-color: #222;
    color: #c78c06;
}

nav ul {
    list-style: none;
}


/* header starts */

header p,
h1 {
    color: white;
}

header .wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

/* lowers the opacity of the background */
.header-text {
    position: absolute;
    background-color: rgba(34, 34, 34, 0.8);
    padding: 20px 10px 10px 20px;

}

/* about */


.about {
    padding: .2rem;
}

.about h2 {
    align-self: start;
    margin: 1.1rem 1.1rem 1.1rem 0;
}

.about p {
    margin: 5px 0 20px 0;
}

/* Our Services */
/* changes spacing */


.services-grid h3 {
    padding-bottom: 1.2rem;
}

.services-grid img {
    max-width: 100%;
    align-items: center;

}

.services-text {
    padding: .5rem;
}


/* our team */
/* changes spacing and some colours of hr*/

.ourteam-text,
p,
h4,
h3 {
    padding: 0.5rem;
}

.ourteam hr {
    color: #c78c06;
}

/* our vision places text on top of image displays flex horizontal*/

.vision img {
    width: 100%;
}

.vision-text {
    position: absolute;
    color: white;
}

.vision .wrapper {
    display: flex;
    flex-direction: column;
}


.vision button {
    border: 1px solid #c78c06;
}

.ourteam {
    flex-direction: column;
}

.johnimage,
.bobimage {
    max-width: 100%;
}


/* Contact */
/* adjusts the length of the textboxes */

.contact .textbox1 {
    width: 500px;
}

.contact .textbox2 {
    height: 7rem;
}


.contact button {
    background-color: #222;
    color: #c78c06;
    border: none;
    padding: 3px;
    margin: 1rem 1rem 1rem 0;
    font-size: 1rem;
}


/* table, adds border colours top bit */

table,
td,
th {
    border: 1px solid black;

}

table {
    width: 100%;
}

.tabletop {
    background-color: #ffe6ac;
}

.openhours th,
td {
    padding: 1rem;
}


iframe {
    border: none;
    width: 100%;
    height: 30rem;
}




/* footer starts */
/* adds colours */

footer {
    background-color: #222;
    color: #c78c06;
}

footer a {
    color: #c78c06;
}

/* for the pc */
@media screen and (min-width: 760px) {

    /* adjustes heading text to size to pc size */
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: .9rem;
    }

    /* keeps the content organized on a single container */
    .wrapper {
        align-items: center;
        justify-content: center;
        margin-left: 5rem;
        margin-right: 5rem;
    }

    /* header starts */
    header .wrapper {
        display: flex;
    }

    .header-text h1,
    p {
        padding: 1rem;

    }

    header .header-text {
        padding: 3rem 3rem 2rem 2rem;
    }

    /* nav starts */
    /* displays layout on a horozontal verson layed out across side by side */
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .topnav {
        display: flex;
        align-items: center;
        padding: 1rem;
    }

    .topnav li {
        background-color: #c78c06;
        padding: 1.5rem;
        color: #222;
    }

    .topnav img {
        width: 80px;
        margin-right: 10rem;
    }

    ul {
        display: flex;
    }

    ul li {
        margin-right: 60px;
        font-size: 16px;
    }

    .search-container input[type="text"] {
        padding: 8px;
        border: none;
        font-size: 16px;
    }

    .search-container button[type="button"] {
        font-size: 16px;
    }

    /* about */
    .about .wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;

    }

    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
    }

    .about img {
        order: 1;
        margin-right: 1rem;
        max-width: 50%;
    }

    .about-text {
        order: 2;
        max-width: 50%;
    }


    /* services */
    /* displays service items in 2 rows with 3 on top and 2 at the bottom */

    .services-grid {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .services-grid img {
        max-width: 100%;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }



    /* vision starts */
    .vision-text {
        margin: 4rem;

    }

    .vision .wrapper {
        margin: 5rem 0.1rem 0.1rem 1rem;
        width: 100%;

    }



    /* our team */

    .team-contaner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-self: center;
    }

    .team-contaner .teambox:nth-child(3) {
        order: 1;
    }


    /* contact */
    /* changes to the contact to adjust the possioning */
    #textboxs {
        display: flex;
        flex-direction: column;
    }

    /* ordering the contact items in the right order */

    .contact {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .contact-contaner {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
    }

    .map {
        flex-basis: calc(50% - 20px);
        margin: 0 20px 20px 0;
    }


    .openhours {
        flex-basis: calc(100% - 40px);
        margin: 0 20px 20px 0;
        order: 1;

    }


    .form-box {
        flex-basis: 50%;
        margin-right: 0px;
    }

    /* extends table to fit */
    .openhours table {
        max-width: 100%;
        align-items: center;
        position: relative;


    }

    .contact h2 {
        padding: 1rem;
        position: relative;
    }



}

/* for the phone */
@media screen and (max-width: 1200px) {

    /* adjusts the text size on phone layout */
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: small;
    }

    .wrapper {
        align-items: center;
        justify-content: center;
        margin-left: 28px;
        margin-right: 28px;
    }

    /* nav customizations starts centering the nav and adding a selective colour for home and logo */
    .topnav {
        background-color: #c78c06;
        color: #222;
    }
    .topnav {
        margin: 1rem;
    }
    .topnav li {
        padding-bottom: 1rem;
    }
    

    nav li {
        text-align: center;
        font-size: 1.3rem;
        margin: 2rem;
    }

    .search-container {
        display: flex;
        justify-content: center;
        padding: 10px;
        max-width: 100%;
    }

    nav form {
        display: flex;
        align-items: center;
    }

    nav input[type="text"] {
        padding: 10px;
        font-size: 1rem;
        border: none;
        border-radius: 5px 0 0 5px;
        width: 40em;
    }

    nav button[type="button"] {
        padding: 9px;

    }

    /* header starts */

    .header-text {
        padding: 10rem;
    }

    .header img {
        margin: 1rem 0.1rem 0.1rem 1rem;
        align-items: center;
    }

    /* about display text below the image */

    .about .wrapper {
        flex-direction: column;
        position: relative;
    }

    .about img {
        width: 100%;
    }


    /* services */
    /* adjusts the images to be centered and fit to the size of the text */
    .services-grid img {
        max-width: 100%;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .vision .wrapper {
        margin: 1rem 0.1rem 0.1rem 1rem;
        width: 100%;

    }

    .contact-contaner {
        position: relative;
    }


}